* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: sans-serif;
}
header {
    background-color: #ff8830;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin-bottom: 20px;
}
h1, h2 {
    font-weight: 400;
}